.flexRow {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.population {
  min-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.countries {
  min-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
