2_Desenvolvimento_de_APIs/1_Hello_world/node_modules/
2_Desenvolvimento_de_APIs/2_tests/node_modules/
2_Desenvolvimento_de_APIs/3_modulos_node/node_modules/
2_Desenvolvimento_de_APIs/4_my_bank_api/node_modules/
2_Desenvolvimento_de_APIs/5_Trabalho-pratico-modulo-2/node_modules
2_Desenvolvimento_de_APIs/6_Desfio-modulo-2/node_modules
.env