#search-user {
  display: flex;

  align-items: center;
}

#search-results {
  display: flex;
}

.results {
  text-align: left;
  border-style: solid;
  margin-left: 10px;
  border-radius: 5%;
}

img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
