.country-container {
  display: flex;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body {
  padding: 10px;
}

.country-list {
  padding: 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-right: 10px;
}
